/* Container Styling */

.leaverequestpage{
  font-style: italic;
  font-family: none;
  font-weight: bolder;

  } 


  
.container {
 
  max-width: 600px;
  padding: 20px;
  background-color: #E3F2FD;
  border-radius: 20px;
  box-shadow: 8px -6px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Heading Styling */
  .container h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  /* Form Styling */
  form {
    display: flex;
    flex-direction: column;
    
  }
  
 
  
  /* Submit Button Styling */
  button {
    align-self: center;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #1976d2;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Hover effect for the submit button */
  button:hover {
    background-color: #1565c0;
  }
  
  
  
  /* Responsive Styling */
  @media (max-width: 768px) {
    .container {
      width: 70%;
      padding: 15px;
    }
  
    .container h2 {
      font-size: 20px;
    }
  
    button {
      width: 50%;
    }
  }
  