
<div class="forgotpassword container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow-lg w-50">
    <div class="container" >
      <button type="button" class="btn btn-danger" [routerLink]="'/'">
        <i class="bi bi-box-arrow-left"></i>
        Back
      </button>
    </div>
    <h3 class="text-center mb-4"  style="font-weight: 600;" >Forgot Password</h3>

    <!-- User Verification Form -->
    <div *ngIf="!isVerifiedUser">
      <form [formGroup]="ForgotPasswordForm" (ngSubmit)="VerifyUser()">
        <div class="mb-3">
          <label for="userid" class="form-label">User ID</label>
          <input type="text" id="userid" class="form-control" formControlName="id" (blur)="validate1('id')"/>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" id="email" class="form-control" formControlName="email" (blur)="validate1('email')"/>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary w-50" [disabled]="!ForgotPasswordForm.valid">Verify</button>
        </div>
      </form>
    </div>

    <!-- Change Password Form -->
    <div *ngIf="isVerifiedUser">
      <form [formGroup]="newPasswordForm" (ngSubmit)="ChangePassword()">
        <div class="mb-3">
          <label for="password" class="form-label">New Password</label>
          <input type="password" id="password" class="form-control" formControlName="password"/>
        </div>
        <div class="mb-3">
          <label for="confirmpassword" class="form-label">Confirm Password</label>
          <input type="password" id="confirmpassword" class="form-control" formControlName="confirmpassword"/>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-success w-50"
            [disabled]="!newPasswordForm.valid || newPasswordForm.value.password !== newPasswordForm.value.confirmpassword">
            Change Password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
  
