<div class="d-flex justify-content-center align-items-center vh-100" style="background-color: #f8f9fa;">
    <div class="card shadow-lg p-4" style="width: 800px; border-radius: 10px;">
        <h3 class="text-center mb-3 text-primary" style="font-weight:bold;">All Attendance Requests</h3>
  
        <table class="table table-bordered text-center">
            <thead class="table-primary">
                <tr>
                    <th>User ID</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let request of allattendanceRequests"> 
                    <td>{{ request.userId }}</td>
                    <td>{{ request.date }}</td>
                    <td>
                        <span >
                            {{ request.status }}
                        </span>
                    </td>
                    <td>
                        <button class="btn btn-success btn-sm me-2" (click)="onSubmit(request)" [id]="'Approve' + request.userId + request.date">
                            <i class="bi bi-check-circle"></i> Approve
                        </button>
                        <button class="btn btn-danger btn-sm" (click)="onReject(request)" [id]="'Reject' + request.userId + request.date" >
                            <i class="bi bi-x-circle"></i> Reject
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
  
  